body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: 
  linear-gradient(90deg, hsla(82, 83%, 93%, 0.58) 0%, hsla(196, 87%, 83%, 0.58) 100%);
background-size: 
  100% 100%;
background-position: 
  0% 0%;
background-repeat: 
  no-repeat;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sign-in-container, .login-signup-radio{
  display: flex;
  justify-content: center;
}
.sign-in-container form >*{
  padding: 20px;
  /* margin: 20px; */
}